body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    user-select: none;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    padding: 40px 60px;
}
h2{
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset{
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    background-color: white;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;

}
.reset:focus{
    color: #ec38bc;
    background-color: #00ffff;
}
.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-size: 4em;
    transform: rotateY(180deg);
    transition: 0.25s;
    border: 3px solid #e0e0e0;
    box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.986);      
    border-radius: 10px;
    
}
.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/fundo-itens.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}
.boxOpen::after, 
.boxMatch::after{
    transform: rotateY(180deg);
}

#timer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333af;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    z-index: 1000;
}